<h1 mat-dialog-title>{{'profile.changeMyPassword' | translate}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard" style="width:100%">
    <mat-label>{{'profile.newPassword' | translate}}</mat-label>
    <input matInput type="password" [(ngModel)]="newPassword">
  </mat-form-field>
  <mat-form-field appearance="standard" style="width:100%">
    <mat-label>{{'profile.confirmNewPassword' | translate}}</mat-label>
    <input matInput type="password" [(ngModel)]="confirmNewPassword">
  </mat-form-field>
  <label *ngIf="doNotMatch()" style="color: red;">* {{'profile.doNotMatch' | translate}}.</label>
  <br>
  <label>{{message}}</label>
</div>
<div mat-dialog-actions>
  <div style="width:100%; text-align: right;">
    <button mat-button cdkFocusInitial (click)="changePassword()" [disabled]="doNotMatch()">{{'profile.change' | translate}}</button>
    <button mat-button (click)="onNoClick()">{{'profile.cancel' | translate}}</button>
  </div>
</div>